-i https://pypi.org/simple/
aiofiles==0.7.0
aiohttp==3.7.4.post0
cachetools==4.2.2
codecov==2.1.13
configparser==5.0.2
confluent-kafka==1.9.2
coverage==5.5
docker==5.0.0
gevent==24.2.1 ; python_version >= "3.10" and python_version < "4.0"
gunicorn==20.1.0
htcondor==23.8.1
Jinja2==3.0.1
JSONRPCBase==0.2.0
mock==4.0.3
maps==5.1.1
mongoengine==0.28.2
psutil==5.8.0
pymongo==4.8.0
pytest==6.2.4
pytest-cov==2.12.1
python-dateutil==2.8.2
python-dotenv==0.18.0
requests==2.25.1
requests-mock==1.9.3
sanic==22.9.0
slackclient==2.9.3
toml==0.10.2
urllib3==1.26.6
