# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Execution Engine 2 Test Suite

on:
  [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 black pytest
        if [ -f requirements.txt ]; then pip install -r requirements-dev.txt; fi
    - name: Lint with flake8 and black
      run: |
        flake8 ./lib ./test
        black --check ./lib ./test
    - name: Build Docker Image
      run: |
        docker build . -t execution_engine2:test
    - name: Run Tests
      run: |
        docker-compose up -d
        make test-coverage
    
